.clr {
  clear: both;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
body,
html {
  margin: 0;
}
.container {
  width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0 10px black;
  min-height: 100vh;
}
.header {
  background-image: url(../img/Layer\ 8.png);
  height: 898px;
  background-repeat: no-repeat;
}
.header__logo {
  padding-top: 58px;
  padding-left: 197px;
  width: 295px;
  margin: 0;
  float: left;
}
.header__nav {
  min-width: 666px;
  height: 51px;
  float: left;
  margin-top: 83px;
  margin-left: 237px;
}
.active__navblock {
  border-bottom: 4px solid white;
}
.active__navblock:hover {
  border-bottom: 4px solid #c72d2d;
}
.navblock > a {
  display: block;
  padding-left: 12px;
  padding-right: 14px;
  padding-top: 17px;
  padding-bottom: 17px;
  color: white;
  margin-left: 7px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  font-weight: bold;
}
.navblock > a:hover {
  color: #c72d2d;
}
.header__main_text {
  margin-top: 165px;
  margin-left: 205px;
  height: 157px;
  width: 712px;
}
.header__text {
  margin-top: 53px;
  margin-left: 217px;
  height: 56px;
  width: 708px;
}
.buttons__read_more {
  margin-top: 74px;
  margin-left: 218px;
}
.read_more__firstButton > a {
  background-color: orangered;
  height: 42px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 15px;
}
.read_more__secondButton > a {
  border: 5px solid white;
  height: 37px;
  width: 180px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-left: 24px;
  padding-top: 10px;
}
.read_more__firstButton > a:hover {
  background-color: #250a00;
  color: #ff0000;
}
.read_more__secondButton > a:hover {
  border: 5px solid black;
  color: red;
}
.main {
  height: 100%;
  background-color: gray;
}
.aboutCreativeAgency {
  height: 770px;
  background-image: url(../img/Rectangle\ 1\ copy.png);
}
.leftsideText_AboutCreativeAgency {
  float: left;
  margin-top: 97px;
}
.head_leftsideText__AboutCreativeAgency {
  margin-left: 204px;
}
.main_leftsideText__AboutCreativeAgency {
  margin-left: 220px;
  margin-top: 26px;
}
.mid_image__AboutCreativeAgency {
  float: left;
  margin-left: 50px;
  width: 396px;
  height: 770px;
  background-image: url(../img/Image\ place\ here.png);
}
.circleblock_midImage_1 {
  margin-top: -50px;
}
.circleblock_midImage {
  float: right;
  margin-right: -12px;
}
.circle_midImage {
  margin-top: 95px;
}
.circle {
  position: absolute;
  margin-left: 40px;
}
.image_circle {
  position: relative;
  padding-left: 65px;
  margin-top: 30px;
}
.rightsideText__AboutCreativeAgency {
  float: right;
  margin-right: 220px;
}
.block_rightsideText__AboutCreativeAgency {
  margin-top: 58px;
  font-size: 16px;
  color: #666564;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.firstblock_rightsideText {
  margin-top: 58px;
}
.ourSpecialServices {
  height: 794px;
  background-image: url(../img/bg-ourspecserv.png);
}
.textblock__SpecServices {
  padding-left: 215px;
  padding-top: 481px;
  height: 224px;
  width: 246px;
  float: left;
}
.gridblock_SpecServices {
  margin-left: 561px;
  padding-top: 84px;
  width: 824px;
  height: 626px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 27px;
}
.gridblock {
  background-color: white;
}
.img__gridblock {
  margin-top: 40px;
  margin-left: 102px;
}
.head__gridblock {
  color: orangered;
  text-align: center;
}
.text__gridblock {
  text-align: center;
  font-size: 16px;
  color: gray;
}
.latestDesignBlock {
  height: 770px;
  background-image: url(../img/Rectangle\ 1\ copy.png);
}
.textblock__latestDesignBlock {
  padding-left: 215px;
  padding-top: 481px;
  height: 224px;
  width: 246px;
  float: left;
}
.gridblock_latestDesignBlock {
  margin-left: 561px;
  padding-top: 84px;
  width: 824px;
  height: 626px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 27px;
}
.gridblock_latestDesignBlock_7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.h2_gridblock_latestDesignBlock {
  font-size: 15px;
}
.creativeTeamMembers {
  height: 794px;
  background-image: url(../img/Rectangle\ 1\ copy\ 12.png);
}
.textblock__creativeTeamMembers {
  padding-left: 215px;
  padding-top: 481px;
  height: 224px;
  width: 246px;
  float: left;
}
.gridblock_creativeTeamMembers {
  margin-left: 561px;
  padding-top: 84px;
  width: 824px;
  height: 626px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 27px;
}
.gridblock_creativeTeamMembers_1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}
.gridblock_creativeTeamMembers_1 img {
  transition: 1s;
}
.gridblock_creativeTeamMembers_1 img:hover {
  transform: scale(1.1);
}
.gridblock_creativeTeamMembers_2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}
.gridblock_creativeTeamMembers_2 img {
  transition: 1s;
}
.gridblock_creativeTeamMembers_2 img:hover {
  transform: scale(1.1);
}
.gridblock_creativeTeamMembers_3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  overflow: hidden;
}
.gridblock_creativeTeamMembers_3 img {
  transition: 1s;
}
.gridblock_creativeTeamMembers_3 img:hover {
  transform: scale(1.1);
}
.p_text__creativeTeamMember {
  text-align: center;
  color: #666564;
  font-size: 16px;
}
.ourPortfolioGallery {
  height: 794px;
  background-image: url(../img/Rectangle\ 1\ copy\ 15.png);
}
.upblock_gallery {
  height: 265px;
}
.whiteblock {
  float: right;
  width: 478px;
  height: 529px;
}
.ourgalleryimg {
  margin-left: 50px;
  margin-top: 225px;
}
.floatleftblock__gallery {
  float: left;
}
.leftblock__ourPortfolioGallery {
  float: left;
  height: 794px;
}
.rightblock__ourPortfolioGallery {
  float: right;
  height: 794px;
}
.floatleft__rightBlock__Gallery {
  float: left;
}
.floatright__rightBlock__Gallery {
  float: right;
}
#img1_Gallery {
  transition: 1s;
}
#img1_Gallery:hover {
  transform: scale(1.05);
}
#img2_Gallery {
  transition: 1s;
}
#img2_Gallery:hover {
  transform: scale(1.05);
}
#img3_Gallery {
  transition: 1s;
}
#img3_Gallery:hover {
  transform: scale(1.05);
}
#img4_Gallery {
  transition: 1s;
}
#img4_Gallery:hover {
  transform: scale(1.05);
}
#img5_Gallery {
  margin-top: 264px;
  margin-left: -399px;
  transition: 1s;
}
#img5_Gallery:hover {
  transform: scale(1.05);
}
#img6_Gallery {
  margin-top: -529px;
  margin-right: -402px;
  overflow: hidden;
  transition: 1s;
}
#img6_Gallery:hover {
  transform: scale(1.05);
}
.ourDesignsPackage {
  height: 794px;
  background-image: url(../img/bg-ourspecserv.png);
}
.textblock__DesignsPackage {
  padding-left: 215px;
  padding-top: 481px;
  height: 224px;
  width: 246px;
  float: left;
}
.designerName {
  padding-left: 35px;
}
.gpaphicDesigner {
  padding-left: 55px;
}
.gridblock__desingsPackage {
  width: 824px;
  height: 626px;
  padding-top: 84px;
  padding-left: 110px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-template-rows: 1fr;
}
.imgblock__designsPackage {
  margin-top: 40px;
  margin-left: 92px;
}
.gridblock_designsPackage__BLOCK {
  background-color: white;
}
.text__gridblock_DesignsPackage {
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: #666564;
}
.orange {
  color: orangered;
}
.pricegridblock {
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
  font-family: BebasNeue-Regular;
}
.readmore_button_DesignPackageBlock {
  width: 156px;
  height: 36px;
  background-color: orangered;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  color: white;
  margin-left: 52px;
  margin-top: 0px;
}
.readmore_button_DesignPackageBlock:hover {
  background-color: #000000;
  color: red;
}
.footer {
  min-height: 936px;
  width: 100%;
}
.HowFindUs {
  height: 794px;
  width: 681px;
  position: absolute;
  background-color: white;
  z-index: 2;
}
.center__HowFindUs_block {
  height: 643px;
  width: 310px;
  margin-top: 83px;
  margin-left: 213px;
}
.footer__main {
  height: 794px;
  width: 100%;
}
.imgfooter {
  overflow: hidden;
  position: absolute;
  z-index: 1;
}
.footer__copyright {
  height: 77px;
  width: 100%;
  text-align: center;
  color: #666564;
  background-image: url(../img/Rectangle\ 4.png);
  padding-top: 65px;
}
.footerblock__1 {
  height: 100px;
  margin-top: 48px;
  margin-bottom: 30px;
  transition: 1s;
}
.footerblock__1:hover {
  transform: scale(1.2);
}
.footerblock__2 {
  height: 100px;
  transition: 1s;
}
.footerblock__2:hover {
  transform: scale(1.2);
}
.footerblock__3 {
  height: 100px;
  transition: 1s;
}
.footerblock__3:hover {
  transform: scale(1.2);
}
.footerblock__4 {
  height: 100px;
  transition: 1s;
}
.footerblock__4:hover {
  transform: scale(1.2);
}
.head_text__footerblock_1 {
  margin-left: 80px;
  margin-top: -50px;
}
.main_text__footerblock_1 {
  margin-left: 80px;
}
.head_text__footerblock_2 {
  margin-left: 80px;
  margin-top: -50px;
}
.main_text__footerblock_2 {
  margin-left: 80px;
}
.head_text__footerblock_3 {
  margin-left: 80px;
  margin-top: -40px;
}
.main_text__footerblock_3 {
  margin-left: 80px;
}
.head_text__footerblock_4 {
  margin-left: 80px;
  margin-top: -40px;
}
.main_text__footerblock_4 {
  margin-left: 80px;
}
.textDecoration_none:hover {
  transform: scale(1.3);
}
.textDecoration_none {
  text-decoration: none;
  background-color: white;
  transition: transform 1.3s;
}
@font-face {
  font-family: BebasNeue-Regular;
  /* Имя шрифта */
  src: url(../../../../Шрифты/BebasNeue-Regular.ttf);
  /* Путь к файлу со шрифтом */
}

@media screen and (max-width: 992px) {
  .main {
    min-height: 100%;
    background-color: white;
  }
  .gridblock_SpecServices {
    margin-left: 561px;
    padding-top: 84px;
    width: 626px;
    height: 824px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 27px;
  }
  .ourSpecialServices {
    height: 994px;
  }
  .container {
    width: 992x;
    margin: 0;
    box-shadow: 0 0 10px black;
    min-height: 100vh;
  }
  .rightblock__ourPortfolioGallery {
    float: none;
  }
  .ourPortfolioGallery {
    width: 799px;
    margin: 0 auto;
    background-color: rgb(204, 192, 192);
    height: 1588px;
  }
  .clrmedia {
    clear: both;
  }
}

@media screen and (max-width: 768px) {
  .latestDesignBlock {
    height: 1000px;
  }
  .gridblock_latestDesignBlock {
    margin-left: 25%;
  }
  .gridblock_creativeTeamMembers {
    margin-left: 25%;
  }
  .gridblock_SpecServices {
    margin-left: 25%;
    padding-top: 54px;
    width: 824px;
    height: 626px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 27px;
  }
  .gridblock__desingsPackage {
    margin-left: 20%;
  }
  .ourDesignsPackage {
    height: 1000px;
  }
  .creativeTeamMembers {
    height: 1000px;
  }
  .textblock__DesignsPackage {
    padding-left: 45%;
    padding-top: 30px;
  }
  .textblock__creativeTeamMembers {
    padding-left: 45%;
    padding-top: 30px;
  }
  .textblock__latestDesignBlock {
    padding-left: 45%;
    padding-top: 30px;
  }
  .textblock__SpecServices {
    padding-left: 45%;
    padding-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .footer__main {
    width: 310px;;
    margin: 0 auto;
    height: 794px;
  }
  .container {
    width: 1100px;
    text-align: center;
  }
  .footer {
    height: 900px;
  }
  .center__HowFindUs_block {
    margin-left: 0;
  }
  .ourDesignsPackage {
    display: inline-block;
    background-color: white;
    background-image: none;
    height: 900px;
  }
  .leftsideText_AboutCreativeAgency {
    width: 280px;
  }
  .head_leftsideText__AboutCreativeAgency {
    margin: 0;
  }
  .main_leftsideText__AboutCreativeAgency {
    margin: 0;
  }
  .mid_image__AboutCreativeAgency {
    width: 300px;
  }
  .rightsideText__AboutCreativeAgency {
    margin: 0;
    padding-right: 20px;
  }
  .textblock__SpecServices {
    padding-left: 38%;
  }
  .gridblock_SpecServices {
    margin: 0 auto;
  }
  .img__gridblock {
    margin-left: 0;
  }
  .textblock__latestDesignBlock {
    padding-left: 36%;
  }
  .gridblock_latestDesignBlock {
    margin: 0 auto;
  }
  .header__nav {
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 10%;
  }
  .header__logo {
    padding-left: 36%;
  }
  .read_more__firstButton {
    margin-left: 15%;
  }
  .circle {
    margin: 0;
  }
  .textblock__creativeTeamMembers {
    padding-left: 38%;
  }
  .gridblock_creativeTeamMembers {
    margin: 0 auto;
  }
  .gridblock__desingsPackage {
    margin: 0;
    padding: 0;
  }
  .imgblock__designsPackage {
    margin-left: 0;
  }
  .gpaphicDesigner {
    padding-left: 0;
  }
  .designerName {
    padding-left: 0;
  }
  .textblock__DesignsPackage {
    padding-left: 35%;
  }
  .imgfooter {
    display: none;
  }
  .clrmedia {
    clear: both;
  }
  .mediaicon {
    padding-right: 225px;
  }
  .navblock > a {
    font-size: 20px;
  }
}